{
  "id": "date-range-reporter",
  "name": "Date Range Reporter",
  "version": "{{VERSION}}",
  "description": "{{DESCRIPTION}}",
  "manifestVersion": 1,
  "minSupVersion": "18.8.0",
  "author": "Super Productivity Community",
  "icon": "icon.svg",
  "iFrame": true,
  "sidePanel": false,
  "permissions": [
    "getTasks",
    "getArchivedTasks",
    "getAllProjects",
    "getAllTags",
    "showSnack",
    "persistDataSynced",
    "loadSyncedData"
  ]
}
